/* HTML TAGS */

main {
    margin-top: $navbar-height;
}
body {
    background-color: $background-color;
}
footer {
    color: #ccc;
    padding: 2em 0;
    font-size: .8em;
}
img {
    max-width: 100%;
    height: auto;
}