$mobile:767px;
$tablet-min:768px; $tablet-max:991px;
$desktop:992px;

$navbar-height: 60px;
$border-radius: 0;

/* COLOR */
$white: #fff;
$dark-grey: #444;
$grey: #aaa;
$light-grey: #eee;
$green: #03475A;
$light_green: #309292;
$red: #EB2020;
$lime: #b1bd61;
$dark-blue:  #23527c;
$background-color: #F7F7F7;







