@import "variables.scss";
@import "typography.scss";
@import "tags.scss";

/* IDs */

#mainImage {
    margin-top: 0;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;  
    @media (min-width: $desktop) {
            background-image: url('../img/photos/xlrg.jpg'); 
            height: 300px;
    }
    @media (max-width: $tablet-max) and (min-width: $tablet-min) {
            background-image: url('../img/photos/md.jpg'); 
            height: 300px;
    }
    @media (max-width: $mobile) {
            background-image: url('../img/photos/md.jpg');
            height: 150px;
            //display: none;
    }  
}

#logo {
    height: 100px;
    background-color:  #23527c;
}

/* CLASSES */
.white-container {
    background-color: $white;
    border: #ddd solid 1px;
    padding: 1em;
    margin-top: 2em;
    @media (max-width: $mobile) {
        margin-top: 0;
    }    
        
}
.grey-container {
    background-color:  #eee;
    border: #ddd solid 1px;
    border-top: none;
    padding: 1em;
    margin-top: 0;
        
}



.remove-padding {
    padding: 0;
}
.add-padding {
    padding: 1em;
}

.framed {
    text-align: center;

    padding: 2em;
}
.bg-lime {
    background-color: $lime;
    color: $white;
}
.centered {
    text-align:  center;
}






















.bg-dark {
    background-color: #000;
}

.add-2em-margin {
    margin-top: 2em;
}






.tnail-dark {
    background-color: #000;
    color:$white;
    font-size: 1.3em;
    height: 100%;
    opacity: 0;
    padding-top: 7em;
    transition: opacity 1s;
    transition-delay: 250ms;
}
.tnail-dark:hover {
    opacity: .5;
}






.big-white, .small-white {
    color: gold;
    font-size: 2.4em;
    text-align: center;
}
.big-white {
    font-size:4em;
}






 

@import "_overwriteBootStrap";
@import "helper.scss";
